<div id="container">
  <blociau-img
    id="wales-wc"
    imgSrc="assets/images/wales.png"
    [rectStyles]="rectStyles"
    animation
    animationDelay="0"
    codeBlockHeight="10"
    speed="0.1"
    padding="5"
  ></blociau-img>
</div>

<div id="intro">
  <a
    href="https://github.com/garethduncandev/code.wales"
    alt="Github repo for code.wales"
    ><img src="assets/images/github-mark-white.svg" alt="GitHub"
  /></a>

  <a
    href="https://www.npmjs.com/package/blociau"
    alt="npm package for blociau used by code.wales"
    ><img src="assets/images/npm-logo-white.svg" alt="npm"
  /></a>
</div>
