<div id="container">
  <blociau-img
    id="wales-wc"
    imgSrc="assets/wales.png"
    [rectStyles]="rectStyles"
    animation
    animationDelay="0"
    codeBlockHeight="10"
    speed="0.1"
    padding="5"
  ></blociau-img>
</div>

<p id="intro">
  Built with
  <a
    href="https://www.npmjs.com/package/blociau"
    alt="npm package for blociau used by code.wales"
    >blociau</a
  >
  (<a
    href="https://github.com/garethduncandev/blociau"
    alt="Github repo for the blocks library used by code.wales"
    >src</a
  >), hosted on
  <a
    href="https://github.com/garethduncandev/code.wales"
    alt="Github repo for code.wales"
    >Github</a
  >.
</p>
