body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(31, 31, 31);
}

#output {
  --parenthesis: rgb(0, 105, 243);
  --access-modifier: rgb(0, 122, 216);
  --variable-declaration-const: rgb(79, 193, 255);
  --variable-declaration-let: rgb(156, 220, 254);
  --function: rgb(220, 220, 138);
  --primitive-type: rgb(77, 201, 176);
  --conditional-statement: rgb(197, 134, 160);
  --jump-statement: rgb(189, 87, 129);
  --comment: rgb(106, 153, 81);

  height: 100%;
  width: 100%;
  height: 100%;
  max-height: 90vh;
  max-width: 90vw;
  svg {
    width: 100%;
    height: 100%;
  }
}

#container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
