body {
  padding: 0;
  margin: 0;
  background-color: rgb(31, 31, 31);
  font-family: monospace;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#output {
  margin-left: 1rem;
  margin-right: 1rem;
  svg {
    margin-top: 1rem;
    max-height: calc(100dvh - 10rem);
    width: calc(100dvw - 10rem);
  }
}

#intro {
  margin: 1rem;
  font-size: 1.5rem;
  color: #ffffff;
  a {
    color: white;
    text-decoration: none;

    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
    text-decoration-color: rgb(0, 105, 243);
  }
  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
    text-decoration-color: rgb(79, 193, 255);
  }
}

.loading {
  display: none;
}
