svg {
  rect {
    &.block-width-1 {
      &.block-variation-1 {
        fill: var(--parenthesis);
      }
      &.block-variation-2 {
        fill: var(--jump-statement);
      }
      &.block-variation-3 {
        fill: var(--lambda-expression);
      }
    }
    &.block-width-2 {
      &.block-variation-1 {
        fill: var(--variable-declaration-const);
      }
      &.block-variation-2 {
        fill: var(--variable-declaration-let);
      }
      &.block-variation-3 {
        fill: var(--primitive-type);
      }
    }
    &.block-width-3 {
      &.block-variation-1 {
        fill: var(--conditional-statement);
      }
      &.block-variation-2 {
        fill: var(--access-modifier);
      }
      &.block-variation-3 {
        fill: var(--lambda-expression);
      }
    }
    &.block-width-4 {
      &.block-variation-1 {
        fill: var(--comment);
      }
      &.block-variation-2 {
        fill: var(--function);
      }
      &.block-variation-3 {
        fill: var(--variable-declaration-const);
      }
    }
  }
}
