body {
    margin:1em;
    padding:1em;
}

#hello {
    h1 {
        color:red;
    }
}

#path43 {
    fill: none;
    stroke-width:0.1rem;
    stroke: #000000
}

rect {
    fill: red;
    stroke-linejoin: round;
}

#output {
    
    max-width: 100vw;
    max-height: 100vh;
}
